@model Nop.Web.Areas.Admin.Models.Education.CourseModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Courses.EditDetails").Text;
   
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Courses");
}
<form asp-controller="Course" asp-action="Edit" method="post" id="course-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Courses.EditDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Common.BackToList")</a>
            </small>
        </h1>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="course-delete"/>

