@model Nop.Web.Areas.Admin.OptimizationApp.Models.OptimizationJsonDataModel

@{
    const string hideInfoBlockAttributeName = "OptimizationJsonPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<div asp-validation-summary="All"></div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="topic-details-cards">
                <nop-card asp-name="topic-info" asp-icon="fas fa-info" asp-title="Paste Optimization Result Here" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
            </nop-cards>
        </div>
    </div>
</section>