@model Nop.Web.Areas.Admin.OptimizationApp.Models.OptimizationResultModel

@{
    const string hideInfoBlockAttributeName = "OptimizationResultPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="classroom-details-cards">
                <nop-card asp-name="OptimizationResult-info" asp-icon="fas fa-info" asp-title="Info" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>
            </nop-cards>
        </div>
    </div>
</section>